{% if settings.enable_compare %}
<a href="#" class="compare action-home4" data-pid="{{ product.handle  }}" title="{{ 'products.product.compare_products' | t }}" data-original-title="Compare product">  <i class="far fa-chart-bar"></i></a>
{% endif %} 