<div id="dis-modal" class="modal">
    <div class="modal-content">
      <div class=" modal-content-inner">
        <div class="content">
            <span class="re-more text-center">scroll down for more</span>
            <h5 class="text-center">DISCLAIMER</h5>
            {{ settings.disclaimer }}
        </div>
        <div class="dis-footer">
            <button class="btn accept" data-url="/pages/find-a-practitioner" disabled>I ACCEPT</button>
            <button class="btn btn-secondary decline" data-url="/pages/10-week-online-course">DECLINE</button>
        </div>
      </div>  
    </div>
</div>