{% if linklists[block.settings.menu].links.size > 0 %}
{% if block.settings.show_footer_title %}
<h4 class="footer__title ">
  {{ linklists[block.settings.menu].title }}
</h4>
{% endif %}

  <div class="collapsible-content__inner">
    <div class="footer__collapsible{% unless block.settings.show_footer_title %} footer_collapsible--disabled{% endunless %}">
      <ul class="no-bullets site-footer__linklist">
        {% for link in linklists[block.settings.menu].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
