<span class="mobile-nav__sublist-expand">
 
  <span class="fallback-text"><i class="fas fa-plus"></i></span>
</span>
<span class="mobile-nav__sublist-contract">
  <span class="fallback-text"><i class="fas fa-minus"></i></span>
</span>