<div class="product_sidebar">  
 
  {% section 'sidebar-category' %}   
  {% section 'product-sidebar-deals' %}
  {% section 'product-sidebar-bestsellers' %}    

  {% section 'custom-text-type-1' %}

  {% section 'sidebar-promoimage' %}
</div>