{% if cart.attributes.pagination != blank and cart.attributes.pagination %}
{% assign product_per_page = cart.attributes.pagination %}
{% else %}
{% assign product_per_page = section.settings.collection_results_per_page %}
{% endif %}

<div class="grid__item">        
  <div class="collection-grid">
    <div class="grid-uniform grid-link__container col-main" data-section-id="{{ section.id }}" data-section-type="collection-template">            
      {% paginate collection.products by product_per_page %}  
      {% case section.settings.collection_grid %}
      {% when '1' %}
      {%- assign grid_item_width = 'wide--one-whole' -%}  
      {%- assign rows = 'product-list-view' -%}
      {% when '2' %}
      {%- assign grid_item_width = 'wide--one-half post-large--one-half large--one-half' -%}
      {%- assign rows = 'products-grid-view' -%}
      {% when '3' %}
      {%- assign grid_item_width = 'wide--one-third post-large--one-third large--one-third medium--one-half small--one-half' -%}  
      {%- assign rows = 'products-grid-view' -%}
      {% when '4' %}
      {%- assign grid_item_width = 'wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small--one-half' -%}  
      {%- assign rows = 'products-grid-view' -%}
      {% when '5' %}
      {%- assign grid_item_width = 'wide--one-fifth post-large--one-fifth large--one-third medium--one-half small--one-half' -%}   
      {%- assign rows = 'products-grid-view' -%}
      {% endcase %}    
      
      {% include 'tool-grid' %}      
      
      <div class="product-collection {{ rows }} products-grid grid-uniform">
        {% if collection.products.size > 0 %}                    
          {% for product in collection.products %}
          {% include 'courses-product-grid-item', grid_item_width: grid_item_width %}
          {% endfor %}        
        {% else %}
        <li class="grid__item push">
          <p><em>{{ 'home_page.onboarding.no_products_html' | t }}</em></p>
        </li>
        {% endif %}
      </div>
      {% if paginate.pages > 1 %}
      <div class="text-center padding">
        {% include 'pagination-custom' %}
      </div>
      {% endif %}
      {% endpaginate %}  
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Collection",
  "class": "collection-course-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "collections_sort_enable",
      "label": "Enable collection sorting",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "collections_view_enable",
      "label": "Enable collection view",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "limited_view",
      "label": "Enable Limited View",
      "default": false
    },
    {
      "type": "select",
      "id": "collection_grid",
      "label": "Products per row (grid only)",
      "default": "4",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        }
      ]
    },
    {
      "type": "select",
      "id": "collection_results_per_page",
      "label": "Products per page",
      "default": "12",
      "options": [
        {
          "value": "6",
          "label": "6"
        },
		{
          "value": "8",
          "label": "8"
        },
        {
          "value": "12",
          "label": "12"
        },
        {
          "value": "16",
          "label": "16"
        },
        {
          "value": "20",
          "label": "20"
        },
        {
          "value": "24",
          "label": "24"
        },
        {
          "value": "30",
          "label": "30"
        },
        {
          "value": "50",
          "label": "50"
        }
      ]
    }
  ]
}
{% endschema %}