{% if settings.pwd_show_share_buttons %}
  <div class="password-social-sharing">
    <p class="password__form-heading h4">{{ settings.pwd_social_message }}</p>
    {% include 'social-sharing' %}
  </div>
{% endif %}

<div class="password-powered-by">
  {% capture shopify %}
    <a class="classic-link shopify-link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">Shopify</a>
  {% endcapture %}

  <small>{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}</small>
</div>

