{% if settings.password_logo %}
  <a href="/" itemprop="url" class="site-header__logo-image">
   
    <img src="{{ 'password_logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
        
  </a>
{% else %}
  <h1 class="site-header__logo-link" href="/" itemprop="url">
    <span class="logo">{{ shop.name }}</span>
  </h1>
{% endif %}

<h2 class="password__title">{{ settings.pwd_header }}</h2>


